.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.main-img-title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}